*{
    margin: 0;
    padding: 0
}
body {
    text-align: center;
    font-family: 'Open Sans';
    height: 100%;
    width: 100%;
    background-image: url(http://88kripakov.p.ht/example/icon_32/squairy_light_@2X.png);
}
.content_html{
    width: 850px;
    height: 100%;
    margin: 0 auto;
}
.gradient {
    filter: none;
}
.chair {
    margin: 0 auto;
	position:fixed;
	top:-10px;
	width:850px;
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.8);
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.8);
	box-shadow:0px 0px 10px rgba(0,0,0,0.8);
	height:10px;
}
h4{
    border:1px solid #2A0000;
    font-family: 'Open Sans', serif;
    font-size:16px;
    cursor: pointer;
    display: block;
    width: 200px;
    height: auto;
    margin: -22px auto;
    background: #d6f9ff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDZmOWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzllZThmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d6f9ff), color-stop(100%,#9ee8fa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #d6f9ff 0%,#9ee8fa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #d6f9ff 0%,#9ee8fa 100%); /* IE10+ */
    background: linear-gradient(135deg,  #d6f9ff 0%,#9ee8fa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    border-radius:8px 8px 0 0;
	-moz-border-radius:8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
}
aside{
    height: 50px;
    background: #d6f9ff;
    margin:0 auto;  
}
#toogle{
    position:relative;
    border:1px solid red;
    height: 400px;
    background: #d6f9ff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDZmOWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzllZThmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d6f9ff), color-stop(100%,#9ee8fa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #d6f9ff 0%,#9ee8fa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #d6f9ff 0%,#9ee8fa 100%); /* IE10+ */
    background: linear-gradient(135deg,  #d6f9ff 0%,#9ee8fa 100%); /* W3C */
    visibility: visible;
    overflow:hidden;
}
.width{
  position:absolute;

  width:1500px;
  border:1px solid #000;
}
.box_one{
  z-index:99999999
}
.box_one, .box_two, .box_three{
    float: left;
    position: relative;
    top: 100px;
    display: block;
    height: 290px;
    width: 320px;
    margin-left: 20px;
    font-family: 'Open Sans';
    background: #93cede; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTNjZWRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDElIiBzdG9wLWNvbG9yPSIjNzViZGQxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ5YTViZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #93cede 0%, #75bdd1 41%, #49a5bf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* IE10+ */
    background: linear-gradient(135deg,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.item{
    display: block;
    width: 30px;
    height: 30px;
    background: red;
    margin: 2px;
    float:left;
	list-style:none
}
.item_white {
    display: block;
    width: 30px;
    height: 30px;
    background: white;
    margin: 2px;
    float:left;
    list-style:none
}

.content_table{
    position: relative;
    top: 20px;
    border:1px solid #2A0000;

    width: auto;
}
.content_table aside{
    background: #fff;
}
.link_create{
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  display:block;
  background: #93cede;
  position:relative;
  top:-25px;
  left:25px
}
.box_two ul{
    margin: 0 auto; 
    width: 200px;
}
.input_text{
  margin-top:5px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 5px;
}
.shadow {
    background: #fc0; 
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.layer {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:3;
  background-color: #000;
  opacity: .5;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.scrollLeft{
  position:absolute;
  margin: 102px 0 0 -55px;
  display:block;
  width:50px;
  height:290px;
  background-image:url(http://88kripakov.p.ht/example/arrow_left.gif);
  background-repeat:no-repeat;
  background-position: center;
  background-color: #fff;
  z-index:5;
  opacity:.2;
  border: 1px solid rgba(0,0,0,0.8);
}
.scrollRight{
  position:absolute;
  display:block;
  height: 290px;
  width:50px;
  background-image:url(http://88kripakov.p.ht/example/arrow_right.gif);
  background-repeat:no-repeat;
  background-position: center;
  z-index:5;
  opacity:.2;
  border: 1px solid rgba(0,0,0,0.8);
  margin: -300px 0 0 853px;
  background-color: #fff;
}
/***************table*********************/
table{
  margin:0 auto;
  min-width:300px;
}
#mytable{
    margin-top: 10px;
  border:1px solid #000; 
  border-spacing: 0;
}

td,th {
  width:20px;
  height:20px;
  border:1px solid black;
}
#slider-range,#slider-height{
    width: 290px;
    margin: 10px;
}
.finish{
  display:block;
  margin:15px auto;
  width:120px;
  padding:5px;
  color: red;
  z-index: 7;
  cursor: pointer
}
nav ul{
    position: relative;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 20px
}
li img:hover{
    border: 1px solid rgba(0,0,0,0.8);
    cursor: pointer;
     -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.cell{
  width:20px;
  height:20px;
}
.backgroundCell{
    background-color: #93cede
}
span{
    font-family: 'Open Sans'
}